Source: ros-kinetic-orunav-path-smoother
Section: misc
Priority: extra
Maintainer: Henrik Andreasson <henrik.andreasson@oru.se>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libeigen3-dev, ros-kinetic-acado, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-nav-msgs, ros-kinetic-orunav-constraint-extract, ros-kinetic-orunav-conversions, ros-kinetic-orunav-generic, ros-kinetic-orunav-geometry, ros-kinetic-orunav-msgs, ros-kinetic-orunav-rviz, ros-kinetic-orunav-trajectory-processor, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-orunav-path-smoother
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-kinetic-acado, ros-kinetic-nav-msgs, ros-kinetic-orunav-constraint-extract, ros-kinetic-orunav-conversions, ros-kinetic-orunav-generic, ros-kinetic-orunav-geometry, ros-kinetic-orunav-msgs, ros-kinetic-orunav-rviz, ros-kinetic-orunav-trajectory-processor, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: The orunav_path_smoother package
