Source: ros-kinetic-orunav-coordinator-fake
Section: misc
Priority: extra
Maintainer: Henrik Andreasson <henrik.andreasson@oru.se>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-nav-msgs, ros-kinetic-orunav-conversions, ros-kinetic-orunav-generic, ros-kinetic-orunav-msgs, ros-kinetic-orunav-rviz, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-orunav-coordinator-fake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-nav-msgs, ros-kinetic-orunav-conversions, ros-kinetic-orunav-generic, ros-kinetic-orunav-msgs, ros-kinetic-orunav-rviz, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf
Description: The orunav_coordinator_fake package
